/*
* After modifying this style sheet, refresh the page being designed to see the effect of the modification.
* Click the Refresh button in the Visual Designer toolbar to refresh the page.
*/ 

/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
    background-color: #eeeeee;
    font-size: larger;
    font-weight: bold;
}

.list-paging-header {
    background-color: white;
}

.list-paging-footer {
    background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
    background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
    color: black;
}

.warnMessage {
    color: orange;
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.fatalMessage {
    color: red;
    font-style: italic;
    font-weight: bold;
}

/*
* Override the default CSS for Woodstock Table to set the
* background-color to transparent so that we can set the
* styleClasses tag on the TableRowGroup to use the .odd-row
* and .even-row styles to alternate row colors.
*/
table.Tbl_sun4 td {
    background-color: transparent;
}

/*
* This sets the background-color to a light gray color.
*/
.odd-row {
    background-color: #EEEEEE;
}

/*
* This sets the background-color to white
*/
.even-row {
    background-color: #FFFFFF;
}